"====
"==== :actionlist
"====
set expandtab shiftwidth=2 tabstop=2
set number
set hlsearch
set incsearch
set scrolloff=5

" 设置重命名变量不改变输入模式
set idearefactormode=keep

set clipboard=unnamed
nnoremap u :action $Undo<CR>
nnoremap U :action $Redo<CR>
nnoremap s <nop>

noremap <C-j> 4j
noremap <C-k> 4k

" select pasted block
nnoremap gp `[v`]

let mapleader=" "
noremap <LEADER><CR> :nohlsearch<CR>
nnoremap <LEADER>f :action ReformatCode<CR>
nnoremap <LEADER>l <C-W>l
nnoremap <LEADER>k <C-W>k
nnoremap <LEADER>j <C-W>j
nnoremap <LEADER>h <C-W>h
nnoremap ]m :action MethodDown<CR>
nnoremap [m :action MethodUp<CR>
nnoremap gmr :action MethodUp<CR>:action ShowUsages<CR>

nnoremap tl :action NextTab<CR>
nnoremap th :action PreviousTab<CR>

" split seting
nnoremap sl :action MoveTabRight<CR>
nnoremap sj :action MoveTabDown<CR>

" navigation setting
nnoremap gf :action GotoFile<CR>
nnoremap ga :action GotoImplementation<CR>
nnoremap gs :action GotoSuperMethod<CR>
nnoremap g, :action JumpToLastChange<CR>

nnoremap gd :action GotoDeclarationOnly<CR>
nnoremap gR :action FindUsages<CR>
nnoremap gr :action ShowUsages<CR>

nnoremap <C-e> :action ShowErrorDescription<CR>
