"====
"==== :actionlist
"====

set expandtab shiftwidth=2 tabstop=2
set number
set hlsearch

set clipboard=unnamed
noremap u :action $Undo<CR>
noremap U :action $Redo<CR>
map s <nop>

let mapleader=" "
noremap <LEADER><CR> :nohlsearch<CR>
map <LEADER>f :action ReformatCode<CR>
map <LEADER>l <C-W>l
map <LEADER>k <C-W>k
map <LEADER>j <C-W>j
map <LEADER>h <C-W>h

map tl :action NextTab<CR>
map th :action PreviousTab<CR>

" split seting
nnoremap sl :action MoveTabRight<CR>
nnoremap sj :action MoveTabDown<CR>
map su :action Unsplit<CR>
map sU :action UnsplitAll<CR>
map so :action ChangeSplitOrientation<CR>

" navigation setting
nnoremap ga :action GotoAction<CR>
nnoremap gf :action GotoFile<CR>
nnoremap gF :action FindInPath<CR>
nnoremap g, :action JumpToLastChange<CR>
nnoremap g. :action JumpToNextChange<CR>
nnoremap gi :action GotoImplementation<CR>
nnoremap gd :action GotoDeclaration<CR>
nnoremap g] :action GotoNextError<CR>
nnoremap g[ :action GotoPreviousError<CR>
nnoremap go :action Back<CR>
nnoremap gp :action Forward<CR>
nnoremap gj :action MethodDown<CR>
nnoremap gk :action MethodUp<CR>
nnoremap gs :action GotoSuperMethod<CR>
nnoremap gr :action FindUsages<CR>

" Collapse and Expand
map zac :action CollapseAllRegions<CR>
map zao :action ExpandAllRegions<CR>
