"====
"==== :actionlist
"====
set expandtab shiftwidth=2 tabstop=2
set number
set hlsearch
set incsearch
set scrolloff=5

" 设置重命名变量不改变输入模式
set idearefactormode=keep

set clipboard=unnamed
map u :action $Undo<CR>
map U :action $Redo<CR>
map s <nop>

noremap J 4j
noremap K 4k

let mapleader=" "
noremap <LEADER><CR> :nohlsearch<CR>
map <LEADER>f :action ReformatCode<CR>
map <LEADER>l <C-W>l
map <LEADER>k <C-W>k
map <LEADER>j <C-W>j
map <LEADER>h <C-W>h

map tl :action NextTab<CR>
map th :action PreviousTab<CR>

" split seting
nnoremap sl :action MoveTabRight<CR>
nnoremap sj :action MoveTabDown<CR>

" navigation setting
nnoremap gf :action GotoFile<CR>
nnoremap gi :action GotoImplementation<CR>
nnoremap gs :action GotoSuperMethod<CR>
nnoremap g, :action JumpToLastChange<CR>

nnoremap gd :action GotoDeclarationOnly<CR>
nnoremap gR :action FindUsages<CR>
nnoremap gr :action ShowUsages<CR>

map <C-e> :action ShowErrorDescription<CR>
